http {
    upstream adapters {
        server ${URL}:8010 max_fails=3 fail_timeout=60s;
        server ${URL}:8011 max_fails=3 fail_timeout=60s;
        server ${URL}:8012 max_fails=3 fail_timeout=60s;
        server ${URL}:8013 max_fails=3 fail_timeout=60s;
        server ${URL}:8014 max_fails=3 fail_timeout=60s;
    }

    server {
        listen 80;
        location / {
            proxy_pass http://adapters;
        }
    }
}

events { }
